@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


body {
  color: white;
  margin: 0;
  padding: 0;
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

#container{
  max-width:960px;
  margin:auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
}

.center-main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.brand-title {
  font-family: 'Dancing Script';
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #5555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.TeamPfp {
  border-radius: 50%;
  border: 8px solid red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.email-team {
  text-align: center;
  font-size: large
}

.header-pfp {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;;
  text-align: center;
}

.team-page-h1 {
  text-align: center;
}

.News-Images {
  border: 2px solid red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.News-Article-Text {
  text-align: center;
  font-size: 30px;
  color: red;
  font-family: 'Ubuntu', sans-serif;;
}

ul {
  list-style: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;;
}

.News-Date {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

.Newsletter-Title {
  text-align: center;
}

.Banner_HP {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  width: 100%;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   background: transparent;
   padding:10px;
}

#body {
   padding:10px;
   padding-bottom:60px;
}

#footer {
   width:100%;
   height:60px;
   background:transparent;
}

#footer_text {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.features_listing li{
text-align:center;
color:#d4d4d4;
}

.information_box{
        height: auto;
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:auto;
        margin-bottom:auto;
        background-color: #666666;
        border: 6px solid black;
        border-radius: 12px;
        position:relative;
    }


  .information_box a button {
    height:2rem;
    width:auto;
    background-color:#937;
    color:white;
    text-align:center;
    border: 4px solid white;
    border-radius: 16px;
    position:absolute;
    bottom:0;
    cursor: pointer;
  }

  .information_header {
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
  }

  .information_text { 
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
  }

  .Development_Text {
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
  }

.install-button {
  height: 75px;
  width: 175px;
  background-color: rgba(136, 48, 114, 0.527);
  border: solid 5px black;
  border-radius: 12px;
}

.install-button:hover {
  background-color: rgb(136, 48, 114);
  cursor: pointer;
}

.install-button:active {
  background-color: rgb(136, 48, 114);
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.install-ctn {
  display: flex;
  justify-content: center;
}

.CobraOSInstallContainer {
  display: flex;
  justify-content: center;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.Scroll-Down-Box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;;
  width: 240px;
  background-color: transparent;
}

.PageMarkers {
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: 5px solid black;
  background-color: rgba(136, 48, 114, 0.527);
  color: white;
  margin: 5px;
}

.PageMarkers:hover {
  background-color: rgb(136, 48, 114);
}

.PageMarkers:active {
  background-color: rgb(136, 48, 114);
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.page-container {
  text-align: center;
  display: flex;
  justify-content: center;
  }





  .CCRyanReview {
    text-align: center;
    height: 195px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(97, 4, 74, 0.616);
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black 5px;
    border-radius: 20px;
  }

  .CCRyanReview p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .CCRyanReview img {
    height: 30px;
    width: auto;
  }






  .COSTigerReview {
    text-align: center;
    height: 180px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(97, 4, 74, 0.616);
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black 5px;
    border-radius: 20px;
  }

  .COSTigerReview p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .COSTigerReview img {
    height: 30px;
    width: auto;
  }

  .COSRyanReview {
    text-align: center;
    height: 195px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(97, 4, 74, 0.616);
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid black 5px;
    border-radius: 20px;
  }

  .COSRyanReview p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .COSRyanReview img {
    height: 30px;
    width: auto;
  }

  .ReviewSubmit {
    margin-top: -15px;
    margin-bottom: 15px;
    height: 75px;
    width: 150px;
    border: solid black 5px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: rgba(136, 48, 114, 0.527);
  }

  
.ReviewSubmit:hover {
  background-color: rgb(136, 48, 114);
}

.ReviewSubmit:active {
  background-color: rgb(136, 48, 114);
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.popup {
  background-color: rgb(92, 32, 82);
  width: 450px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
  z-index: 1;
}

.popup button {
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
}
 .popup a {
  display: block;
  width: 150px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: rgb(167, 42, 146);
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0;
  border-radius: 5px;
 }