@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  background-color: grey;
  color: grey;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #5555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 980px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

h1 {
  color: black;
  font-family: 'Ubuntu', sans-serif;;
  text-align: left;
  padding: 5px;
}

h2 {
  color: black;
  font-family: 'Ubuntu', sans-serif;;
  text-align: left;
  padding: 5px;
}

h3 {
  color: black;
  font-family: 'Ubuntu', sans-serif;;
  text-align: left;
  padding: 5px;
}

h4 {
  color: black;
  font-family: 'Ubuntu', sans-serif;;
  text-align: left;
  padding: 5px;
}

h5 {
  color: black;
  font-family: 'Ubuntu', sans-serif;;
  text-align: left;
  padding: 5px;
}

h6 {
  color: black;
  font-family: 'Ubuntu', sans-serif;;
  text-align: left;
  padding: 5px;
}

p {
  color: black;
  font-family: 'Ubuntu', sans-serif;;
  text-align: left;
  padding: 5px;
}

hr {
  border: 6px solid black;
  border-radius: 5px;
}

.installButton {
  height: 50px;
  width: 100px;
  background-color: green;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

.TeamPfp {
  border-radius: 50%;
  border: 8px solid red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.email-team {
  text-align: center;
  font-size: large
}

.header-pfp {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;;
  text-align: center;
}

.team-page-h1 {
  text-align: center;
}

footer {
  text-align: center;
  color: black;
}

#footer-0text {
  color: black;
}

#footer-text {
  text-align: center;
  font-size: 15px;
}

.News-Images {
  border: 2px solid red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.News-Article-Text {
  text-align: center;
  font-size: 30px;
  color: red;
  font-family: 'Ubuntu', sans-serif;;
}

ul {
  list-style: none;
  color: black;
  font-family: 'Ubuntu', sans-serif;;
}

.Newsletter-V1 {
  font-size: 20px;
}

.signature {
  font-family: 'Dancing Script', cursive;
  padding: 5px;
}

.Newsletter-RPC {
  font-size: 20px;
}

.News-Date {
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

.Newsletter-Title {
  text-align: center;
}